
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

footer {
  bottom: 20px;
  width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  justify-content: flex-end;
  word-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  min-height: 64px;
  width: 100%;
  background-color: rgb(28, 36, 68);;
  color: #FFFFFF;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  top: 0;
  position: fixed;
  width: 100%;
}
header a {
  flex: 1 0 0;
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  line-height: 64px;-*
  font-size: 14px;
  font-weight: 700;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
}

header a:first-of-type {
  flex-grow: 0;
  flex: 5 0 0;
  text-align: left;
  padding-left: 24px;
}

.bio {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: rgb(28, 36, 68);
  font-family: 'Share Tech Mono', monospace;
  padding: 64px 16px 32px 16px;;
  min-height: 24vh;
}

.bio--content{
padding-top: 42px;
}

.bio h1{
  font-size: 2.2rem;
}

.bio p {

}

.main-feed--wrapper {
  display: flex;
}

.contactcard--wrapper {
  height: 120px;
}

.contactcard--wrapper img {
  float: left;
  margin-left: 10px;
  margin-right: 10px;

}

.contactcard--content {
  margin: 0 auto;
  height: 100%;
  width: 50%;
  min-width: 350px;
  max-width: 500px;
  padding: 10px;
  background: #7C7A7A;
	border-radius: 12px;
}

.contactcard--content h2{
  margin: 0;
}

.contactcard--content p{
  margin: 3px 0;
}

.contactcard--text {
  display: inline;
  color: #FFFFFF;
}

.copyright--wrapper {
  text-align: center;
  width: 100%;
  font-size: 10px;
  color: #808080;
  margin-top: 25px;
}

.mainfeed--wrapper {
  height: 100%;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
