
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

footer {
  bottom: 20px;
  width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar {
  justify-content: flex-end;
  word-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  min-height: 64px;
  width: 100%;
  background-color: rgb(28, 36, 68);;
  color: #FFFFFF;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  top: 0;
  position: fixed;
  width: 100%;
}

.navbar a {
  flex: 1 0 0;
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  line-height: 64px;-*
  font-size: 14px;
  font-weight: 700;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
}

.navbar a:first-of-type {
  flex-grow: 0;
  flex: 5 0 0;
  text-align: left;
  padding-left: 24px;
}

.bio {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: rgb(28, 36, 68);
  font-family: 'Share Tech Mono', monospace;
  padding: 64px 16px 32px 16px;;
  min-height: 24vh;
}

.bio--content{
padding-top: 42px;
}

.bio h1{
  font-size: 2.2rem;
}

.bio p {

}

.main-feed--wrapper {
  display: flex;
}

.contactcard--wrapper {
  margin: auto;
  text-align: center;
  width: 100%;
}

.contactcard--content {
  font-size: 24px;
}

.contactcard--content a {
  margin-right: 30px;
}

.contactcard--content a:last-of-type {
  margin-right: 0;
}

.contactcard--content {
  height: 100%;
}

.fa {
  padding: 6px;
  font-size: 12px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-linkedin {
  background: black;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-snapchat-ghost {
  background: black;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-instagram {
  background: black;
  color: white;
}

.copyright--wrapper {
  text-align: center;
  width: 100%;
  font-size: 10px;
  color: #808080;
  margin-top: 8px;
}

.mainfeed--wrapper {
  height: 100%;
}

.column--left {
  float: left;
  width: 75%;
}

.column--right {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.hamburger--wrapper {
  display: none;
}

.hamburger--wrapper p {
  text-align: center;
  line-height: 64px;
}

.navbar--tab-wrapper {
  display: flex;
}

.navbar--hidden {
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  top: -50px;
  position: absolute;
}

@media screen and (max-width: 800px) {
  .nav--link {
    display: none;
  }

  .hamburger--wrapper {
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .column--left, .column--right {
    width: 100%;
    padding: 0;
  }
}

.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;

  text-decoration: none;
  display: block;
}

.topnav a.icon {
  font-size: 24px;
  display: block;
  padding: 0px 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
